.img-item
{
    width: 120px;
    height: 5%;
    float: left;
    padding: 5px;
    cursor: pointer;
    
}

.simgs img
{
    width: 450px;
    height: 15%;
}


.img-items
{
    width: 120px;
    height: 5%;
    float: left;
    padding: 5px;
    cursor: pointer;
    
}

.simg img
{
    width: 450px;
    height: 20%;
}

